.navbar {
    color: white;
    background-color:#6c757d ;
  }

  #titulo_cabecera{
    margin-left: 10px;
    margin-right: 2%;
    margin-bottom: 0px;
  }

.nav-item {
    margin-left: 10%;
    margin-right: 10%;
  }

  #contenido {
    margin-top: 2.5%;
  }

  #opciones {
    width: 1500px;
    margin-right: 2.5%;
  }

.flecha{
  color: black;
}

#todo{
  text-align: justify;
}

.list-group-item{
  text-align: left; 
  text-decoration: underline;
  padding: 5%;
}

.col{
  text-align: justify;
}

.textoCol{
  min-height: 12em;
  background-color: #f8f9fa;
}

#search{
  float: right;
}



