.navbar {
    color: white;
    background-color:#6c757d ;
  }

  #title {
        margin-left: 0px;
  }

  #search {
      margin-left: 200px;

  }

.nav-item {
    margin-left: 5%;
    margin-right: 5%;
  }

  #contenido {
    margin-top: 20px;
  }
  #opciones {
    width: 1500px;
    margin-right: 2.5%;
  }

.flecha{
  color: black;
}
#todo{
  text-align: justify;
}